RUN_NAME: "GIN-residual"
ALGORITHM: "bfs"
MODEL:
  DECODER_USE_LAST_HIDDEN: True
  PROCESSOR_USE_LAST_HIDDEN: True
  PROCESSOR:
    NAME: "GINConv"
    RESIDUAL: True
    KWARGS: [{ "layers": 2, "train_eps": True, "dropout": 0.1, "use_bn": True, "aggr": "max" }]
    LAYERNORM:
      ENABLE: True
      MODE: "node"

DATA:
  TRAIN:
    NUM_SAMPLES: 10000
    GRAPH_GENERATOR: ["er"]
    # defaults from salsaclrs.data.py
    # n=[4, 7, 11, 13, 16], p_range=er_probabilities(16) approx [0.17, 0.52]
    GENERATOR_PARAMS: [{ "n": [4, 7, 11, 13, 16], "p_range": [0.17, 0.52] }]

TRAIN:
  LOSS:
    OUTPUT_LOSS_WEIGHT: 1.0
    HINT_LOSS_WEIGHT: 0.0
    HIDDEN_LOSS_WEIGHT: 0.0001
  MAX_EPOCHS: 200 # Increased for grokking
  BATCH_SIZE: 32

  ENABLE: True
  NUM_WORKERS: 0
  EARLY_STOPPING_PATIENCE: 200 # Effectively disabled
  OPTIMIZER:
    LR: 0.0004239

  SCHEDULER:
    ENABLE: True
    NAME: "ReduceLROnPlateau"
    PARAMS: [{ "mode": "min", "factor": 0.1, "patience": 100 }] # Increased patience

TEST:
  BATCH_SIZE: 8

LOGGING:
  WANDB:
    PROJECT: "nar-experiments"
    GROUP: "GIN-residuals-regularized"
